<div class="d-flex justify-content-around bd-highlight">
  <%= form_with(model: @recipe, data: {
      controller: "nested-form",
      nested_form_wrapper_selector_value: '.nested-form-wrapper'
    }) do |form| %>
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :body, style: "display: block" %>
      <%= form.text_area :body %>
    </div>

    <template data-nested-form-target="template">
      <%= form.fields_for :ingredients, Ingredient.new, child_index: 'NEW_RECORD' do |ingredient_fields| %>
        <%= render "ingredient_form", f: ingredient_fields %>
      <% end %>
    </template>

    <%= form.fields_for :ingredients do |ingredient_fields| %>
      <%= render "ingredient_form", f: ingredient_fields %>
    <% end %>

    <div data-nested-form-target="target"></div>

    <button type="button" data-action="nested-form#add">Add item</button>

    <%#= f.submit 'Save tasks' %>

    <div>
      <%= form.submit %>
    </div>
  <% end %>

</div>
<%= link_to "Voltar", root_path %>