<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= @recipe.id.present? ? "Receita: #{@recipe.name}" : "Nova receita" %></h3>
  </div>
  <div class="card-body">
    <%= form_with(model: @recipe, data: {
        controller: "nested-form",
        nested_form_wrapper_selector_value: '.nested-form-wrapper'
      }) do |form| %>
      
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="name">Nome da receita</label>
          <%= form.text_field :name, class: "form-control", placeholder: "Nome da receita", required: :true %>
        </div>

        <div class="col-md-4 mb-3">
          <label for="body">Descrição</label>
          <%= form.text_area :body, class: "form-control", placeholder: "Nome da receita", required: :true  %>
        </div>
      </div>

      <!-- Ingredients form -->
      <h5>Ingredientes</h5>

      <div data-controller="nested-form" data-nested-form-wrapper-selector-value=".nested-form-wrapper">
          <template data-nested-form-target="template">
            <%= form.fields_for :ingredients, Ingredient.new, child_index: 'NEW_RECORD' do |ingredient_fields| %>
              <%= render "ingredient_form", f: ingredient_fields %>
            <% end %>
          </template>

          <%= form.fields_for :ingredients do |ingredient_fields| %>
            <%= render "ingredient_form", f: ingredient_fields %>
          <% end %>
          <div data-nested-form-target="target"></div>

        <div class="form-row">
          <div class="col-md-4 mb-3">
            <button type="button" data-action="nested-form#add">Add item</button>
          </div>
        </div>
      </div>
      <!-- end Ingredients form -->

      <!-- Method Steps form -->
      <h5>Modo de Preparo</h5>

      <template data-nested-form-target="template">
        <%= form.fields_for :method_steps, MethodStep.new, child_index: 'NEW_RECORD' do |method_step_fields| %>
          <%= render "method_step_form", f: method_step_fields %>
        <% end %>
      </template>

      <%= form.fields_for :method_steps do |method_step_fields| %>
        <%= render "method_step_form", f: method_step_fields %>
      <% end %>
      <div data-nested-form-target="target"></div>

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <button type="button" data-action="nested-form#add">Add item</button>
        </div>
      </div>
      <!-- end Method Steps form -->

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <%= form.submit %>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <%= link_to "Voltar", root_path %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>