<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Receitas</h1>
            <p class="lead fw-normal text-white-50 mb-0">Crie ou encontre uma receita</p>

            <%= render "partials/search" %>
        </div>
    </div>
</header>
<section class="py-5 p-4">
    <div class="text-center">
        <%= "Não possuimos nenhum receita cadastrada no momento." if @recipes.empty? %>
    </div>
    <div class="row">
        <% @recipes.each do |recipe| %>
            <div class="mb-3 col col-lg-2">
                <div class="card h-100">
                    <%= link_to recipe  do %>
                        <%= image_tag "receita_tradicional", class:"card-img-top" %>
                    <% end %>

                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">
                            <%= recipe.name %>
                        </h5>
                        <p class="card-text">
                            <%= recipe.body %>
                        </p>
                    </div>

                    <!-- action buttons -->
                    <div class="card-footer">
                        <%= link_to recipe, {class: 'text-primary btn-sm text-decoration-none' }  do %>
                            VER
                        <% end %>
                        <%= link_to edit_recipe_path(recipe), {class: 'text-warning btn-sm text-decoration-none'} do %>
                            EDITAR
                        <% end %>
                        <%= link_to "DELETAR", recipe_path(recipe), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Tem certeza que deseja excluir este item?" },
                            class: 'text-danger btn-sm text-decoration-none' %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</section>

